<% include ../partials/headers %>
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" href="/css/login.css">
<% include ../partials/headers2 %>
    <div id="container">
        <div class="inner-contain"> 
            <form style="margin-top:0px;" action="/teachers/<%=teacher._id%>?_method=PUT" method="post">
                <input class="input2" type="text" name="teacher[firstname]" value="<%=teacher.firstname%>" id="firstname" placeholder="firstname">
                <input class="input2" type="text" name="teacher[othername]" value="<%=teacher.othername%>"  id="othername" placeholder="othername">
                <input class="input2" type="text" name="teacher[surname]" value="<%=teacher.surname%>"  id="surname" placeholder="surname">
                <input class="input2" type="text" name="teacher[phone_number]" value="<%=teacher.phone_number%>"  id="phone_number" placeholder="telephone">
                <input class="input2" type="text" name="teacher[email]" value="<%=teacher.email%>" id="email" placeholder="email">
                <section>
                    <button id="submit" class="button" type="submit">Submit</button>
                </section> 
            </form>
        </div>
    </div>
<% include ../partials/footer %>